.gender-card-container {
  background-color: #1c1c2b;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.gender-card-heading {
  color: #cbd5e1;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Roboto';
}

.pie-chart-container {
  width: 100%;
  height: 100%;
}
